@model DataAccessLayer.Models.Prescription

@{
    ViewData["Title"] = "AddPrescription";
}

<h1>AddPrescription</h1>

<hr />

<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.MedicineName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PatientPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            List<DataAccessLayer.Models.Prescription> Med = (List<DataAccessLayer.Models.Prescription>)@ViewBag.pres;
        }
    @foreach (var item in Med) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
              @Html.DisplayFor(modelItem => item.MedicineName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PatientPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>

<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveAddPrescription">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>*@
            <div class="form-group">
              <label asp-for="MedicineName" class="control-label"></label>
              <div>
               @Html.DropDownListFor(model => model.MedicineName,ViewBag.Medicine as SelectList,"Select")
              </div>
            </div>

            <input type="hidden" name="PatientPhone" value="@ViewBag.Phone" />

            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@{
    DataAccessLayer.Models.Patient patient = (DataAccessLayer.Models.Patient)@ViewBag.Patient;
}

<div>
    @*<a asp-controller="Patient" asp-action="ViewPatientProfile" asp-route-patient=patient >Back to Patient Profile</a>*@
    @Html.ActionLink("Back to Patient Profile", "ViewPatientProfile","Patient", patient)
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
